# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.so

# Virtual environment
venv/
.venv/

# Environment variables
.env
*.env

# macOS specific
.DS_Store

# VSCode settings
.vscode/

# Pytest cache
.pytest_cache/

# MyPy cache
.mypy_cache/

# Coverage reports
htmlcov/
.coverage

# Pydantic cache
*.pydantic

# Logs
*.log

# Build
build/
dist/
*.egg-info/
